body{
    margin: 0;
    padding: 0;
    background: #ecf0f3;
}
.heading{
    background-color: #1DA1F2;
    margin: 0;
    padding: 5px;
    font-size: 25px;
    text-align: center;
    color: white;
}
.para1
{
    color: green;
    text-align: justify;
}
#tbl{
    color: rgb(171, 6, 6);
    margin-top: 10px;
    letter-spacing: 8px;
    background-color:#1DA1F2;
    width: fit-content;
    border-radius: 10px;
    padding: 0 20px;
    margin-left: 5%;
}
.f1{
    margin-top: 30px;
    position: relative;
    width: 350px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
}

input, button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
  }
  input {
    background: #ecf0f3;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  input::placeholder {
    color: gray;
  }
  button {
    color: white;
    margin-top: 10px;
    background: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, inset -6px -6px 6px #4c6c81bc;
    transition: 0.5s;
  }
  
  button:hover {
    box-shadow: none;
  }