body{
    margin: 0;
    padding: 0;
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    padding: 40px;
}
.main_container{
background-color: black;
    height: 75vh;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
  
    box-shadow: inset 34px 34px 50px #ffffff3d,
                inset -34px -34px 50px #ffffff3d;
}
.container{
    height: 100%;
    display:block;
}
.output{
    height: 15%;
}
.inputs{
   
    height: 82%;
    display: grid;
    grid-template-columns:repeat(4,1fr); 
    gap: 10px;
    margin-left: 45px ;

}
.result{
   
    height: 60%;
    width: 95%;
    position:relative;
    float:left;
    margin-right:5%;
    margin-top: 5%;
}
.result #f_output{
    position:absolute;
    bottom:0;
    right:0;   
}

.inputs > div:nth-child(17) {
    grid-column: span 2; /* Last div should span 2 columns */
   
}
input[type=button], .arithmetic{
    height: 80px;
    width: 80px;
    border-radius:50% ;
    border: none;
    font-size: 35px;
    transition: background-color 0.3s;
}
.input17 > input[type=button]{
    width: 200px;
    border-radius: 50px ;
}
.arithmetic{
    background-color: rgb(228, 177, 48);
    color: white;
    font-weight: 700;
}
.number{
    background-color: rgba(83, 81, 81, 0.831);
}
.greybutton{
    background-color: rgba(185, 184, 184, 0.927);
}
input[type=text]{
    background-color: transparent;
    color: white;
    font-size: 50px;
   text-align: right ;
   width: fit-content;
   border: none;
}
.arithmetic:hover{
    color: rgb(228, 177, 48);
    background-color: white;
    font-weight: 700;
}
.greybutton:hover{
    background-color: rgba(103, 102, 102, 0.927);
}
.number:hover{
    background-color: rgba(185, 184, 184, 0.927);
}
/* fork this code to you device and add media queries on it */