body{
    margin: 0;
    padding: 0;
}
.main_container{
background-color: black;
    height: 75vh;
    width: 50%;
    margin: 0 auto;
}
.container{
    height: 100%;
    display:block;
}
.output{
    height: 15%;
}
.inputs{
   
    height: 82%;
    display: grid;
    grid-template-columns:repeat(4,1fr); 
    gap: 10px;
    margin: 5px;
}
.result{
   
    height: 60%;
    width: 95%;
    position:relative;
    float:left;
    margin-right:5%;
    margin-top: 5%;
}
.result .f_output{
    position:absolute;
    bottom:0;
    right:0;
    font-size: 50px;
    color: white;
}
.inputs > div{
    border: 2px solid green;
    height: 80px;
    width: 80px;
}
.inputs > div:nth-child(17) {
    grid-column: span 2; /* Last div should span 2 columns */
    width: 200px;

}